@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body{
    margin: 0;
    padding: 0;
}

.mainForm{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    min-height: 500px;
    min-width: 700px;
}

.imgRight{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30%;
    max-height: 800px;
    min-height: 500px;
    max-width: 300px;
    min-width: 300px;
}

.logoCup{
    height: 100%;
    width: 100%;
}

.mainInputsForm{
    margin: 0;
    padding: 0;
    padding-left: 10%;

    width: 60%;
    height: 90%;

    max-width: 600px;
    max-height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputLine{
    width: 100%;
    height: 6%;

    font-size: 20px;

    border: 2px;
    border-color: aliceblue;
    border-style: groove;
}

.genderSelect{
    max-height: 30px;
}

.citizanshipSelect{
    max-height: 30px;
}

.buttonSignUp {
    width: 70%;
    margin-top: 20px;
    height: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: .1s linear;
    background: #02020283;
}

.buttonSignUp:hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px #0000009a;
}


.buttonSignUp:active{
    background-color: white;
    color: black;
}

.grayLine{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;
    min-height: 60px;


    background-color: #a1a1a13f;
    color: rgb(65, 65, 65);

    font-size: 40px;
    word-spacing: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.by{

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;
    min-height: 60px;

    background-color: #a1a1a13f;

    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}